<div class="row">
    <div class="col-lg-11">
        <strong><%- movieName %></strong>, director - <%- author %> <br>
        Type:           <strong><%- typeOfFilm %></strong><br>
        Release Date:   <strong><%- releaseDate %></strong><br>
        Duration:       <strong><%- duration.value %> <%- duration.type %></strong><br>
        Seasons:        <strong><%- seasons %></strong><br>
        Country:        <strong><%- country %></strong><br>
        Movie maker:    <strong><%- movieMaker %></strong><br>
    </div>
    <div class="col-lg-1 text-right">
        <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
    </div>
</div>
