<div class="row">
    <div class="col-lg-11">
        <%- movieName %> &mdash; <%- author %>
    </div>
    <div class="col-lg-1 text-right">
        <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </div>
</div>