@import 'base/variables';
@import 'base/global';

// Components
// @import 'components/header';

.glyphicon-pencil {
  cursor: pointer;
}

.dropdown {
  .half-width {
    text-align: left;
    width: 100%;
  }
}
