<form>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
              <span class="input-group-addon">
                 Movie Name
              </span>
              <input class="form-control" type="movieName" name="movieName" id="id-movieName" value="<%- movieName %>" />
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
              <span class="input-group-addon">
                 Director
              </span>
              <input class="form-control" type="author" name="author" id="id-author" value="<%- author %>"/>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <select class="form-control" id="dropdown" value="<%- typeOfFilm %>">
                <option>Movie</option>
                <option>TV series</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
              <span class="input-group-addon">
                 Release date
              </span>
              <input class="form-control" type="releaseDate" name="releaseDate" id="id-release-date" value="<%- releaseDate %>" />
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-addon">
                 Duration in min
              </span>
              <input class="form-control" type="duration" name="duration" id="duration" value="<%- duration.value %>" />
            </div>
        </div>

        <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-addon">
                 Duration in hr
              </span>
              <input class="form-control" type="duration" disabled name="duration" id="" value=""/>
            </div>
        </div>
    </div>
    <br>
    <div class="text-right">
        <button id="btn-save" class="btn  btn-default"><%- buttonTitle %></button>
    </div>

</form>
